{# this tag only applies to the forms defined in this template #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>Login!</h1>
    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
