{# this tag only applies to the forms defined in this template #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>Login!</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
